body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.container,
.container-fluid {
	margin-top: 6rem;
}

.img-momo {
	height: auto;
	width: 100%;
}

.nav-title {
	font-family: 'Lobster', sans-serif;
	font-size: 2.5rem;
}

#navbar {

} 